h2{
    color : white;
}
h3{
    color : white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.main_div{
    padding: 45px;
   
   
}
.login_div
{
    padding: 100px;  
    max-width: 350px;
    height: 250px;
    background-color:black;
    opacity: 70%;
    margin-left: 320px;
    border: 2px,white;
}
input{
    height: 35px;
    width: 35px;
    font-style: bold;
}
.move{
    
}
button{
    height: 35px;
    width: 35px;
}
.clr{
    background-color: red;
    font-style: bold;
    height: 35px;
    width: 70px;
    
}
.go{
    background-color: greenyellow;
    text :white;
    height: 35px;
    width: 120px;  
}
.drag{
     padding: 15px; 
    max-width: 520px;
    height: 80px;
    background-color:black;
    margin-left: 320px;
    margin-top: 0px;
    margin-bottom: 12px;
    
}